body#about {
    grid-template-rows: $page-top-space auto $page-bottom-space;
    @media only screen and (max-width: 430px) {
        grid-template-rows: 140px auto $page-bottom-space;
    }
}

#section-about {
    width: 740px;
    margin: auto;
    @media only screen and (max-width: 800px) {
        width: 100%;
    }

    h1 {
        margin-bottom: 5%;
        color: #333333;
         @media only screen and (max-width: 430px) {
            margin-bottom: 10%;
        }
    }

    h3 {
        padding-bottom: 1%;
        color: #333333;
    }

    p {
        margin-bottom: 5%;
        color:#555555;
        @media only screen and (max-width: 430px) {
            margin-bottom: 10%;
        }
    }
   
    text-align: inherit;
}




