body#about {
    grid-template-rows: 120px auto 9%;
    @media only screen and (max-width: 430px) {
        grid-template-rows: 10% auto 5%;
    }
}

#section-about {
    width: 800px;
    margin: auto;
    
    h1 {
        @include body_large;
        font-weight: 600;
        margin-bottom: 5%;
    }
    h3 {
        @include body_medium;
        font-family: 'Archer';
        line-height: 190%;
        font-weight: 600;
        padding-bottom: 1%;
    }
    p {
        @include body_small;
        line-height: 180%;
        margin-bottom: 5%;
    }
   
    text-align: inherit;
}




