/*$font_brand: 'Cosi Azure';*/
$font_brand: 'Archer';
$font_body: 'Apercu';


/* body */
@mixin body($size) {
    font: $size $font_body;
    font-weight: 300;
    color: $color_primary;
    line-height: 160%;
}

@mixin body_xl {
    @include body(54px);
}

@mixin body_large {
    @include body(36px);
    line-height: 130%;
}

@mixin body_xm {
    @include body(26px);
    @media only screen and (max-width: 430px) {
        @include body(24px);
    }
}

@mixin body_medium {
    @include body(24px);
}

@mixin body_small {
    @include body(18px);
    letter-spacing: .5px;
     @media only screen and (max-width: 430px) {
        @include body(18px);
    }
}

section {
    a {
        text-decoration: underline;
        text-decoration-color: lightcoral;
    }

    a:hover {
        color: $color_hover ;
    }
}




