footer {
    font-family: $font_body;
    color: #333333;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    .moving-text {
        height: 100px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
      
    .moving-text div {
        display: block;
        width: 200%;
        height: 100px;
        position: absolute;
        overflow: hidden;
        -webkit-animation: marquee 15s linear infinite;
                animation: marquee 15s linear infinite;
    }
      
    .moving-text span {
        float: left;
        width: 50%;
    }

.footer-icon {
    margin-left: 4px;   
}


      
    @-webkit-keyframes marquee {
        0% { left: 0; }
        100% { left: -100%; }
    }
      
    @keyframes marquee {
        0% { left: 0; }
        100% { left: -100%; }
    }
}

