$page-top-space: 120px;
$page-bottom-space: 180px;

@mixin hover-link {
    color: $color_hover;
    transition: all ease .3s;
}

.background-color {
    background-color: $background-color;
}

/* floating button */
.float{
	position:fixed;
	bottom: 40px;
    border-radius: 100px;
    background-color: #333333;
	right:40px;
	color: #fff;
	text-align:center;
    /*line-height: 42px;
    font-weight: 600;
    padding: 12px 24px 20px 24px;*/
    box-shadow: 0px 0px 15px #e1e1e1;
    width: 70px;
    height: 70px;
    font-size: 26px;
    z-index: 100;

  /*button {
    background-color: white;
    color: #333;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    font-weight: 400;
  }*/
}

.float:hover {
    background-color: #040861;
}

.my-float{
	margin-top:22px;
}
