/*$page-wide: 90%;
$page-medium: 80%;
$page-small: 70%;*/

body {
    display: grid;
    grid-template-rows: 160px auto 4%;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-areas:
    "header header header"
    ". section ."
    "footer footer footer";
    @media only screen and (max-width: 800px) {
        grid-template-columns: 1fr 90% 1fr;
        grid-template-rows: 2% auto 4%;
    }
    @media only screen and (max-width: 430px) {
        grid-template-rows: 3% auto 4%;
    }
}

header {
    grid-area: header;
}

section {
    grid-area: section;
}
  
#section-index {
    display: grid;
    grid-template-rows: 320px 8fr;
    @media only screen and (max-width: 800px) {
        grid-template-rows: 2.4fr 8fr;
    }
    @media only screen and (max-width: 430px) {
        grid-template-rows: 3fr 6fr;
    }
    grid-template-areas:
    "gridContainer_intro"
    "gridContainer_project"; 
}

#gridContainer_intro {
    grid-area: gridContainer_intro;
    margin: 0 10%;
}

#gridContainer_project {
    grid-area: gridContainer_project;
    row-gap: 16px;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;

    @media only screen and (max-width: 430px) {
        row-gap: 15px;
    }
}

/* work */
footer { grid-area: footer; }

.background-color {
    background-color: #EDEFEA;
}

