body#playground {
    grid-template-rows: $page-top-space auto $page-bottom-space;
     @media only screen and (max-width: 430px) {
        grid-template-rows: 140px auto $page-bottom-space;
    }
}

#section-playground {
    margin: auto;
    width: 1200px;
    @media only screen and (max-width: 1200px) {
        width: 800px;
    }
    @media only screen and (max-width: 800px) {
        width: 100%;
    }

    h1 {
         margin-bottom: 1%;
        @media only screen and (max-width: 430px) {
            margin-bottom: 4%;
        }
    }

    p {
        color: #555;
    }
    /*
    h1 {
        @include body_large;
        font-weight: 600;
        margin-bottom: 1%;
        @media only screen and (max-width: 430px) {
            margin-bottom: 4%;
        }
        span {
            font-family: 'Archer';
        }
    }
    h3 {
        @include body_medium;
        font-weight: 600;
    }
    p {
        @include body_small;
        line-height: 180%;
    }
        */
   
    text-align: inherit;
}

/* For flexbox effect */
/*
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 30%;
  max-width: 30%;
  padding: 0 10px;
}

.column img {
  vertical-align: middle;
  width: 100%;
}


.img-width-x {
    width: 90%;
}

.img-width-m {
    width: 90%;
}

.img-width-s {
    width: 90%;
}
*/
/* img filtering */

#section-playground {
    img {
        float: left;
        Width: 30%;
        margin-right: 30px;
        margin-bottom: 30px;

        @media only screen and (max-width: 1200px) {
            width: 45%;
        }
        @media only screen and (max-width: 430px) {
            width: 100%;
        }
    }
}

.img-filter {
  display: none;    
}

.show {
  display: block;
}

#myBtnContainer {
    margin: 3% 0 2% 0;

    @media only screen and (max-width: 430px) {
        margin: 4% 0;
    }

    button {
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        padding: 6px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-right: 4px;
        margin-bottom: 2%;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    button:hover {
        color: $color_hover;
        border: 1px solid $color_hover;
    }
    
}

