@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Cosi Azure";
  src: url("CosiAzure-Bold.woff"), url("CosiAzure-Bold.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("Apercu-Bold.woff"), url("Apercu-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("Apercu-Light.woff"), url("Apercu-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("Apercu-Medium.woff"), url("Apercu-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("Apercu-Regular.woff"), url("Apercu-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("Apercu-Light-Italic.woff"), url("Apercu-Light-Italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Apercu";
  src: url("Apercu-Medium-Italic.woff"), url("Apercu-Medium-Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Archer";
  src: url("ArcherBoldPro.woff"), url("ArcherBoldPro.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Archer";
  src: url("ArcherSemiboldPro.woff"), url("ArcherSemiboldPro.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Sequel Sans";
  src: url("Sequel-Sans_Semi-Bold-Body.woff"), url("Sequel-Sans_Semi-Bold-Body.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------- added by me -------- */
a {
  text-decoration: none;
}

a:visited, a:active, a:link, a:hover {
  color: inherit;
}

/* style */
/*
$accent_1: #556EF2;
$accent_2: #71F0EA;
$accent_3: #C31162;
*/
/*$background-color: #EDEFEA;*/
/*$font_brand: 'Cosi Azure';*/
/* body */
section a {
  text-decoration: underline;
  text-decoration-color: lightcoral;
}
section a:hover {
  color: #616580;
}

.background-color {
  background-color: white;
}

/* floating button */
.float {
  position: fixed;
  bottom: 40px;
  border-radius: 100px;
  background-color: #333333;
  right: 40px;
  color: #fff;
  text-align: center;
  /*line-height: 42px;
  font-weight: 600;
  padding: 12px 24px 20px 24px;*/
  box-shadow: 0px 0px 15px #e1e1e1;
  width: 70px;
  height: 70px;
  font-size: 26px;
  z-index: 100;
  /*button {
    background-color: white;
    color: #333;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    font-weight: 400;
  }*/
}

.float:hover {
  background-color: #040861;
}

.my-float {
  margin-top: 22px;
}

/*$page-wide: 90%;
$page-medium: 80%;
$page-small: 70%;*/
body {
  display: grid;
  grid-template-rows: 70px auto 100px;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-areas: "header header header" ". section ." "footer footer footer";
}
@media only screen and (max-width: 800px) {
  body {
    grid-template-columns: 1fr 90% 1fr;
    grid-template-rows: 2% auto 4%;
  }
}
@media only screen and (max-width: 430px) {
  body {
    grid-template-rows: 3% auto 4%;
  }
}

header {
  grid-area: header;
}

section {
  grid-area: section;
}

#section-index {
  display: grid;
  grid-template-rows: 320px 8fr;
  grid-template-areas: "gridContainer_intro" "gridContainer_project";
}
@media only screen and (max-width: 800px) {
  #section-index {
    grid-template-rows: 2.4fr 8fr;
  }
}
@media only screen and (max-width: 430px) {
  #section-index {
    grid-template-rows: 3fr 6fr;
  }
}

#gridContainer_intro {
  grid-area: gridContainer_intro;
  margin: 0 10%;
}

#gridContainer_project {
  grid-area: gridContainer_project;
  row-gap: 16px;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
}
@media only screen and (max-width: 430px) {
  #gridContainer_project {
    row-gap: 15px;
  }
}

/* work */
footer {
  grid-area: footer;
}

.background-color {
  background-color: #EDEFEA;
}

/* page */
body#index {
  grid-template-rows: 80px auto 180px;
}
@media only screen and (max-width: 430px) {
  body#index {
    grid-template-rows: 100px auto 180px;
  }
}

#section-index {
  text-align: center;
  width: 800px;
  margin: auto;
  text-align: left;
}
@media only screen and (max-width: 900px) {
  #section-index {
    width: 100%;
  }
}
#section-index img {
  width: 100%;
}
#section-index div#gridContainer_intro {
  margin: auto;
}
#section-index div#gridContainer_intro span {
  font-weight: 600;
}
@media only screen and (max-width: 475px) {
  #section-index div#gridContainer_intro {
    font-size: 8vw;
  }
}
#section-index div#gridContainer_intro p:first-child {
  font-size: 48px;
}
@media only screen and (max-width: 430px) {
  #section-index div#gridContainer_intro p:first-child {
    font-size: 38px;
  }
}
#section-index div#gridContainer_intro p:first-child span {
  font-family: "Archer";
  font-weight: bold;
}
#section-index div#gridContainer_intro p:nth-child(2) {
  font: 18px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  letter-spacing: 0.5px;
  margin-top: 5%;
}
@media only screen and (max-width: 430px) {
  #section-index div#gridContainer_intro p:nth-child(2) {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}
#section-index div#gridContainer_intro p:nth-child(3) {
  font: 18px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  letter-spacing: 0.5px;
  margin-top: 5%;
}
@media only screen and (max-width: 430px) {
  #section-index div#gridContainer_intro p:nth-child(3) {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}
#section-index div#gridContainer_intro #social {
  margin: 5% 0;
}
@media only screen and (max-width: 430px) {
  #section-index div#gridContainer_intro #social {
    margin: 9% 0;
  }
}
#section-index div#gridContainer_intro #social a {
  font: 36px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  line-height: 130%;
  color: #000000;
  padding: 3%;
}
@media only screen and (max-width: 600px) {
  #section-index div#gridContainer_intro #social a {
    font-size: 30px;
  }
}
@media only screen and (max-width: 320px) {
  #section-index div#gridContainer_intro #social a {
    font-size: 8vw;
  }
}
#section-index div#gridContainer_intro #social a :hover {
  color: #616580;
  transition: all ease 0.3s;
}
#section-index div#gridContainer_project {
  font: 24px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  margin: auto;
  color: #8E90A2;
  /* -------- hover effect -------- */
}
@media only screen and (max-width: 400px) {
  #section-index div#gridContainer_project {
    font-size: 20px;
  }
}
@media only screen and (max-width: 320px) {
  #section-index div#gridContainer_project {
    font-size: 17px;
  }
}
#section-index div#gridContainer_project svg {
  width: 18px;
  margin-left: 8px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  90% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
#section-index div#gridContainer_project .image-wrapper {
  position: relative;
}
#section-index div#gridContainer_project .image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  /*cursor: url("https://raw.githubusercontent.com/yingyingszeto/portfolio/refs/heads/main/assets/img/cursor.svg"), auto;*/
  cursor: url("https://raw.githubusercontent.com/yingyingszeto/forLinks/master/cursor.svg"), auto;
}
#section-index div#gridContainer_project .image-hover:hover {
  opacity: 1;
}

body#about {
  grid-template-rows: 120px auto 180px;
}
@media only screen and (max-width: 430px) {
  body#about {
    grid-template-rows: 140px auto 180px;
  }
}

#section-about {
  width: 800px;
  margin: auto;
  text-align: inherit;
}
@media only screen and (max-width: 800px) {
  #section-about {
    width: 100%;
  }
}
#section-about h1 {
  font: 36px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  line-height: 130%;
  font-family: "Archer";
  font-weight: 600;
  margin-bottom: 5%;
}
@media only screen and (max-width: 430px) {
  #section-about h1 {
    margin-bottom: 10%;
  }
}
#section-about h3 {
  font: 24px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  line-height: 190%;
  font-weight: 600;
  padding-bottom: 1%;
}
#section-about p {
  font: 18px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  letter-spacing: 0.5px;
  line-height: 180%;
  margin-bottom: 5%;
}
@media only screen and (max-width: 430px) {
  #section-about p {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}
@media only screen and (max-width: 430px) {
  #section-about p {
    margin-bottom: 10%;
  }
}

body#playground {
  grid-template-rows: 120px auto 180px;
}
@media only screen and (max-width: 430px) {
  body#playground {
    grid-template-rows: 140px auto 180px;
  }
}

#section-playground {
  margin: auto;
  width: 1200px;
  text-align: inherit;
}
@media only screen and (max-width: 1200px) {
  #section-playground {
    width: 800px;
  }
}
@media only screen and (max-width: 800px) {
  #section-playground {
    width: 100%;
  }
}
#section-playground h1 {
  font: 36px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  line-height: 130%;
  font-weight: 600;
  margin-bottom: 1%;
}
@media only screen and (max-width: 430px) {
  #section-playground h1 {
    margin-bottom: 4%;
  }
}
#section-playground h1 span {
  font-family: "Archer";
}
#section-playground h3 {
  font: 24px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  font-weight: 600;
}
#section-playground p {
  font: 18px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  letter-spacing: 0.5px;
  line-height: 180%;
}
@media only screen and (max-width: 430px) {
  #section-playground p {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}

/* For flexbox effect */
/*
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 30%;
  max-width: 30%;
  padding: 0 10px;
}

.column img {
  vertical-align: middle;
  width: 100%;
}


.img-width-x {
    width: 90%;
}

.img-width-m {
    width: 90%;
}

.img-width-s {
    width: 90%;
}
*/
/* img filtering */
#section-playground img {
  float: left;
  Width: 30%;
  margin-right: 30px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1200px) {
  #section-playground img {
    width: 45%;
  }
}
@media only screen and (max-width: 430px) {
  #section-playground img {
    width: 100%;
  }
}

.img-filter {
  display: none;
}

.show {
  display: block;
}

#myBtnContainer {
  margin: 3% 0 2% 0;
}
@media only screen and (max-width: 430px) {
  #myBtnContainer {
    margin: 4% 0;
  }
}
#myBtnContainer button {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 2%;
  transition-duration: 0.4s;
  cursor: pointer;
}
#myBtnContainer button:hover {
  color: #616580;
  border: 1px solid #616580;
}

body {
  font: 18px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 430px) {
  body {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}
@media only screen and (max-width: 430px) {
  body {
    grid-template-rows: 130px auto 180px;
  }
}

.page-width-l {
  width: 90%;
}
@media only screen and (max-width: 768px) {
  .page-width-l {
    width: 100%;
  }
}

.page-width-m {
  width: 80%;
}

.page-width-s {
  width: 800 px;
}
@media only screen and (max-width: 768px) {
  .page-width-s {
    width: 100%;
  }
}

.page-width-xs {
  width: 60%;
}

.page-width-xxs {
  width: 50%;
}

img {
  width: 100%;
}

/* Title section of case study */
@media only screen and (max-width: 430px) {
  #case-title {
    margin-bottom: 40px;
  }
}
#case-title div:first-child {
  font: 54px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
}
@media only screen and (max-width: 430px) {
  #case-title div:first-child {
    font-size: 48px;
  }
}
#case-title div:nth-child(2) {
  font: 26px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
}
@media only screen and (max-width: 430px) {
  #case-title div:nth-child(2) {
    font: 24px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}

/* Intro para of case study */
#case-intro {
  font: 26px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
}
@media only screen and (max-width: 430px) {
  #case-intro {
    font: 24px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}

/* role section */
#case-role {
  text-align: center;
}
#case-role div > p::first-line {
  font-weight: bold;
}

/* text style */
.title-text {
  font: 26px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  font-weight: 300;
  margin-bottom: 16px;
}
@media only screen and (max-width: 430px) {
  .title-text {
    font: 24px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}

.text {
  font: 18px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 430px) {
  .text {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}

.label {
  Color: #616580;
  margin-bottom: 2%;
  letter-spacing: 1.5px;
}

/* Layouts */
.grid-container {
  display: grid;
  justify-content: center;
  margin: 0 auto 7% auto;
}
.grid-container div {
  height: auto;
}
@media only screen and (max-width: 430px) {
  .grid-container {
    margin: 0 auto 80px auto;
  }
}

.col-1 {
  margin-left: auto;
  margin-right: auto;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
  gap: 6%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  .col-2 {
    grid-template-columns: 1fr;
    gap: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .col-2 .responsive-space {
    margin-bottom: 7%;
  }
}
@media only screen and (max-width: 430px) {
  .col-2 .responsive-space {
    margin-bottom: 40px;
  }
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6%;
  margin-left: auto;
  margin-right: auto;
}

.remove-space {
  margin-bottom: 0;
}

.add-space {
  margin-bottom: 7%;
}
@media only screen and (max-width: 430px) {
  .add-space {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .col-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: auto;
  padding: 0;
}

.more-project {
  margin-bottom: 4%;
}

.more-project-img {
  margin: auto;
}
.more-project-img a > img {
  width: 48%;
  padding: 3px;
}
@media only screen and (max-width: 430px) {
  .more-project-img a > img {
    width: 100%;
  }
}

.more-project-img > a:hover {
  cursor: url("https://raw.githubusercontent.com/yingyingszeto/forLinks/master/cursor.svg"), auto;
}

/* New style start here */
h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-weight: 600;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 14px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.case-study-content {
  width: 680px;
  margin: auto;
  font-size: 20px;
  color: #555555;
}
.case-study-content div {
  margin-bottom: 60px;
}
.case-study-content hr {
  margin-bottom: 60px;
}
.case-study-content img {
  margin-top: 40px;
}

/* case title */
.case-study-title {
  margin-bottom: 60px;
  text-align: center;
}
.case-study-title p {
  margin-top: 12px;
  color: #777777;
}

ul.bullet-points {
  list-style-type: disc;
  padding-left: 30px;
}
ul.bullet-points li {
  margin-bottom: 6px;
}

ul.bullet-points:last-child {
  margin-bottom: 0px !important;
}

li::marker {
  font-size: 22px;
}

ul.numeric-points {
  list-style-type: decimal;
  padding-left: 40px;
}
ul.numeric-points li {
  margin-bottom: 6px;
}

.bold-text {
  font-weight: 800;
}

figcaption {
  font-size: 14px;
  margin: -7px 0;
  text-align: center;
}

.col-2-container {
  display: flex;
}
.col-2-container figure {
  width: 48%;
}

.col-2-left {
  margin-left: auto;
}

.quote p {
  margin-bottom: 20px;
  font-style: italic;
}
.quote blockquote {
  margin-bottom: 50px;
  border-left: 6px solid #fc4e5f;
  padding-left: 20px;
  font-style: italic;
}

svg.moving-arrow {
  width: 16px;
  margin-left: 6px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  90% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
.process {
  text-align: center;
  padding: 2px 0;
  font-weight: 800;
  font-size: 18px;
}

.case-study-section h3 {
  margin-top: 40px;
}
.case-study-section b {
  font-weight: bold;
}

.outcome {
  background-color: #f3f3f3;
  color: #333;
  padding: 20px;
  border-radius: 10px;
}

.outcome-space {
  margin: 14px 0;
}

/* organisms */
header {
  width: 100%;
}
header a:hover {
  color: #616580;
  transition: all ease 0.3s;
}
header #brand-logo {
  font: 26px "Archer";
  line-height: 128%;
  padding: 10px;
  float: left;
}
@media only screen and (max-width: 800px) {
  header #brand-logo {
    font: 26px "Archer";
  }
}
@media only screen and (max-width: 430px) {
  header #brand-logo {
    float: none;
    font-size: 28px;
  }
}
header nav {
  font: 18px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  letter-spacing: 0.5px;
  padding: 10px;
  float: right;
}
@media only screen and (max-width: 430px) {
  header nav {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}
@media only screen and (max-width: 430px) {
  header nav {
    float: none;
  }
}
header nav a {
  margin-left: 30px;
}
@media only screen and (max-width: 430px) {
  header nav a {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 430px) {
  nav a:first-child {
    margin-left: 0px;
  }
}

/* --------- Scrolling effect --------- */
.trigger-menu-wrapper {
  position: fixed;
  transition: transform 0.45s;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: white;
}

.scroll-down .trigger-menu-wrapper {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .trigger-menu-wrapper {
  transform: none;
}

/* --------- Dropdown --------- */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown div:first-child {
  cursor: default;
}
.dropdown div > i {
  margin-left: 6px;
  font-size: 14px;
}

.dropdown-content {
  font: 18px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 160%;
  letter-spacing: 0.5px;
  display: none;
  position: absolute;
  line-height: 140%;
  background-color: white;
  min-width: 170px;
  box-shadow: 2px 6px 23px 2px rgba(0, 0, 0, 0.04);
  z-index: 1;
  margin: 0 -50px;
}
@media only screen and (max-width: 430px) {
  .dropdown-content {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 160%;
  }
}
@media only screen and (max-width: 430px) {
  .dropdown-content {
    margin: 0;
  }
}

.dropdown-content a {
  color: black;
  padding: 18px 0;
  text-decoration: none;
  line-height: 156%;
  text-align: center;
  display: block;
  margin: 0;
  border-bottom: 1px solid #eaeaea;
}
.dropdown-content a span {
  background-color: #f0efef;
  font-weight: 400;
  border: 1px solid #eaeaea;
  color: black;
  font-size: small;
  padding: 2px 6px;
  margin-right: 4px;
  border-radius: 6px;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #f0efef;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

span.tag-1 {
  background-color: lightgoldenrodyellow !important;
}

span.tag-2 {
  background-color: lightcyan !important;
}

span.tag-3 {
  background-color: rgb(250, 229, 232) !important;
}

span.tag-4 {
  background-color: #f0efef !important;
}

footer {
  font-family: "Apercu";
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
footer .moving-text {
  height: 100px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
footer .moving-text div {
  display: block;
  width: 200%;
  height: 100px;
  position: absolute;
  overflow: hidden;
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
}
footer .moving-text span {
  float: left;
  width: 50%;
}
@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.footer-icon {
  width: 18px;
}

/* sass --watch base.scss style.css */

/*# sourceMappingURL=style.css.map */
