@font-face {
  font-family: "Cosi Azure";
  src: url("CosiAzure-Bold.woff"), url("CosiAzure-Bold.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("Apercu-Bold.woff"), url("Apercu-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Apercu";
  src: url("Apercu-Light.woff"), url("Apercu-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------- added by me -------- */
a {
  text-decoration: none;
}

a:visited, a:active, a:link, a:hover {
  color: inherit;
}

/* style */
/*
$accent_1: #556EF2;
$accent_2: #71F0EA;
$accent_3: #C31162;
*/
/*$background-color: #EDEFEA;*/
/*$font_brand: 'Cosi Azure';*/
/* body */
section a {
  text-decoration: underline;
  text-decoration-color: lightcoral;
}
section a:hover {
  color: #999999;
}

.background-color {
  background-color: white;
}

/*$page-wide: 90%;
$page-medium: 80%;
$page-small: 70%;*/
body {
  display: grid;
  grid-template-rows: 160px auto 20%;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-areas: "header header header" ". section ." "footer footer footer";
}
@media only screen and (max-width: 800px) {
  body {
    grid-template-columns: 1fr 90% 1fr;
    grid-template-rows: 2% auto 16%;
  }
}
@media only screen and (max-width: 430px) {
  body {
    grid-template-rows: 3% auto 5%;
  }
}

header {
  grid-area: header;
}

section {
  grid-area: section;
}

#section-index {
  display: grid;
  grid-template-rows: 350px 8fr;
  grid-template-areas: "gridContainer_intro" "gridContainer_project";
}
@media only screen and (max-width: 800px) {
  #section-index {
    grid-template-rows: 2.4fr 8fr;
  }
}
@media only screen and (max-width: 430px) {
  #section-index {
    grid-template-rows: 2.4fr 6fr;
  }
}
@media only screen and (max-width: 430px) {
  #section-index {
    grid-template-rows: 2fr 5fr;
  }
}

#gridContainer_intro {
  grid-area: gridContainer_intro;
  margin: 0 10%;
}

#gridContainer_project {
  grid-area: gridContainer_project;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
  row-gap: 30px;
}

/* work */
footer {
  grid-area: footer;
}

/* page */
@media only screen and (max-width: 430px) {
  body {
    grid-template-rows: 10% auto 5%;
  }
}

#section-index {
  text-align: center;
  width: 800px;
  margin: auto;
}
@media only screen and (max-width: 900px) {
  #section-index {
    width: 100%;
  }
}
#section-index img {
  width: 100%;
}
#section-index div#gridContainer_intro {
  font: 36px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  line-height: 147%;
  margin: auto;
}
#section-index div#gridContainer_intro span {
  font-weight: 600;
}
@media only screen and (max-width: 475px) {
  #section-index div#gridContainer_intro {
    font-size: 8vw;
  }
}
#section-index div#gridContainer_intro #social {
  margin: 5% 0;
}
@media only screen and (max-width: 430px) {
  #section-index div#gridContainer_intro #social {
    margin: 9% 0;
  }
}
#section-index div#gridContainer_intro #social a {
  font: 36px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  color: #000000;
  padding: 3%;
}
@media only screen and (max-width: 600px) {
  #section-index div#gridContainer_intro #social a {
    font-size: 30px;
  }
}
@media only screen and (max-width: 320px) {
  #section-index div#gridContainer_intro #social a {
    font-size: 8vw;
  }
}
#section-index div#gridContainer_intro #social a :hover {
  color: #999999;
  transition: all ease 0.3s;
}
#section-index div#gridContainer_project {
  font: 24px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  margin: auto;
  color: #8E90A2;
  /* -------- hover effect -------- */
}
@media only screen and (max-width: 400px) {
  #section-index div#gridContainer_project {
    font-size: 20px;
  }
}
@media only screen and (max-width: 320px) {
  #section-index div#gridContainer_project {
    font-size: 17px;
  }
}
#section-index div#gridContainer_project svg {
  width: 18px;
  margin-left: 8px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  90% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}
#section-index div#gridContainer_project .image-wrapper {
  position: relative;
}
#section-index div#gridContainer_project .image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  cursor: url("https://raw.githubusercontent.com/yingyingszeto/forLinks/master/cursor.svg"), auto;
}
#section-index div#gridContainer_project .image-hover:hover {
  opacity: 1;
}

#section-about {
  font: 36px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  text-align: inherit;
}
#section-about h1 {
  font: 36px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  padding: 5% 0;
  font-weight: 600;
}
#section-about p {
  font: 24px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  line-height: 180%;
  margin-bottom: 3%;
}

body {
  font: 20px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 430px) {
  body {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 145%;
  }
}

.page-width-l {
  width: 90%;
}
@media only screen and (max-width: 768px) {
  .page-width-l {
    width: 100%;
  }
}

.page-width-m {
  width: 80%;
}

.page-width-s {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .page-width-s {
    width: 100%;
  }
}

.page-width-xs {
  width: 60%;
}

.page-width-xxs {
  width: 50%;
}

img {
  width: 100%;
}

.hero-image {
  margin-bottom: 7%;
}

/* Title section of case study */
#case-title div:first-child {
  font: 60px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
}
#case-title div:nth-child(2) {
  font: 28px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
}
@media only screen and (max-width: 430px) {
  #case-title div:nth-child(2) {
    font: 24px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 145%;
  }
}

/* Intro para of case study */
#case-intro {
  font: 28px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
}
@media only screen and (max-width: 430px) {
  #case-intro {
    font: 24px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 145%;
  }
}

/* role section */
#case-role {
  text-align: center;
}
#case-role div > p::first-line {
  font-weight: bold;
}

/* text style */
.title-text {
  font: 28px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  margin-bottom: 4%;
}
@media only screen and (max-width: 430px) {
  .title-text {
    font: 24px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 145%;
  }
}

.text {
  font: 20px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 430px) {
  .text {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 145%;
  }
}

.label {
  Color: grey;
  text-transform: capitalize;
  margin-bottom: 2%;
  letter-spacing: 1.5px;
}

/* Layouts */
.grid-container {
  display: grid;
  justify-content: center;
  margin: 0 auto 7% auto;
}
.grid-container div {
  height: auto;
}
@media only screen and (max-width: 430px) {
  .grid-container {
    margin: 0 auto 15% auto;
  }
}

.col-1 {
  margin-left: auto;
  margin-right: auto;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
  gap: 6%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  .col-2 {
    grid-template-columns: 1fr;
    gap: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .col-2 .responsive-space {
    margin-bottom: 7%;
  }
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6%;
  margin-left: auto;
  margin-right: auto;
}

.remove-space {
  margin-bottom: 0;
}

.add-space {
  margin-bottom: 7%;
}
@media only screen and (max-width: 430px) {
  .add-space {
    margin-bottom: 15%;
  }
}

@media only screen and (max-width: 768px) {
  .col-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: auto;
  padding: 0;
}

/* organisms */
header {
  width: 100%;
}
header a:hover {
  color: #999999;
  transition: all ease 0.3s;
}
header #brand-logo {
  font: 32px "Archer";
  line-height: 128%;
  padding: 10px;
  float: left;
}
@media only screen and (max-width: 800px) {
  header #brand-logo {
    font: 26px "Archer";
  }
}
@media only screen and (max-width: 430px) {
  header #brand-logo {
    float: none;
  }
}
header nav {
  font: 20px "Apercu";
  font-weight: 300;
  color: #000000;
  line-height: 145%;
  letter-spacing: 0.5px;
  padding: 10px;
  float: right;
}
@media only screen and (max-width: 430px) {
  header nav {
    font: 18px "Apercu";
    font-weight: 300;
    color: #000000;
    line-height: 145%;
  }
}
@media only screen and (max-width: 430px) {
  header nav {
    float: none;
  }
}
header nav a {
  margin-left: 30px;
}
@media only screen and (max-width: 430px) {
  header nav a {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 430px) {
  nav a:first-child {
    margin-left: 0px;
  }
}

/* --------- Scrolling effect --------- */
.trigger-menu-wrapper {
  position: fixed;
  transition: transform 0.45s;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.scroll-down .trigger-menu-wrapper {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .trigger-menu-wrapper {
  transform: none;
}

footer {
  font-family: "Archer";
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
footer .moving-text {
  height: 100px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
footer .moving-text div {
  display: block;
  width: 200%;
  height: 100px;
  position: absolute;
  overflow: hidden;
  -webkit-animation: marquee 9s linear infinite;
  animation: marquee 9s linear infinite;
}
footer .moving-text span {
  float: left;
  width: 50%;
  font-size: 5vw;
}
@media only screen and (max-width: 600px) {
  footer .moving-text span {
    font-size: 7vw;
  }
}
@media only screen and (max-width: 414px) {
  footer .moving-text span {
    font-size: 7.3vw;
  }
}
@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* sass --watch base.scss style.css */

/*# sourceMappingURL=style.css.map */
