$section-between-space: 7%;
$section-between-space-responsive: 80px;

body {
  @include body_small;
    @media only screen and (max-width: 430px) {
        grid-template-rows: 130px auto $page-bottom-space;
        line-height: 180%;
    }
}


/*.page-width-l {
  width: 90%;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.page-width-m {
  width: 80%;
}

.page-width-s {
  width: 800 px;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.page-width-xs {
  width: 60%
}

.page-width-xxs {
  width: 50%
}*/

img {
  width: 100%;
}

/* Title section of case study */
/*#case-title {
  @media only screen and (max-width: 430px) {
    margin-bottom: 40px;
  }

  div:first-child {
    @include body_xl;
    @media only screen and (max-width: 430px) {
      font-size: 48px;
    }
  }
  div:nth-child(2) {
    @include body_xm;
  }
}

/* Intro para of case study */
/*#case-intro {
  @include body_xm;
}

/* role section */
/*#case-role {
  text-align: center;
  div > p::first-line {
    font-weight: bold;
  }
}
/* text style */

/*/*.text {
  @include body_small;
}

.label {
  Color: $color_hover;
  margin-bottom: 2%;
  letter-spacing: 1.5px;
}

/* Layouts */

/*.grid-container {
    display: grid;
    justify-content:center;
    margin: 0 auto $section-between-space auto;
    div {
      height: auto;
    }
  @media only screen and (max-width: 430px) {
    margin: 0 auto $section-between-space-responsive auto;  
  }
  }

.col-1 {
  margin-left: auto;
  margin-right: auto;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
  gap: 6%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 0%
  }

  .responsive-space {
    @media only screen and (max-width: 768px) {
      margin-bottom: 7% ;
    }

    @media only screen and (max-width: 430px) {
      margin-bottom: 40px;
    }
  }
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6%;
  margin-left: auto;
  margin-right: auto;
}

.remove-space {
  margin-bottom: 0;
}

.add-space {
  margin-bottom: $section-between-space;
  @media only screen and (max-width: 430px) {
    margin-bottom: $section-between-space-responsive; 
  }

}

.col-reverse {
  @media only screen and (max-width: 768px) { 
    display:flex;
    flex-direction: column-reverse;
  }
}*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: auto;
  padding: 0;
}

.more-project {
    margin: auto;
    margin-top: 80px;;
    width: 70%;
    @media only screen and (max-width: 430px) {
      width: 100%;
    }
    h3 {
      text-align: center;
    }
    a > img {
      width: 48%;
      padding: 3px;
      @media only screen and (max-width: 430px) {
        width: 100%;
    }
  }
}

.more-project > a:hover {
      cursor: url("https://raw.githubusercontent.com/yingyingszeto/forLinks/master/cursor.svg"), auto;
}

/* New style start here */

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-weight: 600;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 14px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.case-study-content {
  width: 740px;
  margin: auto;

  @media only screen and (max-width: 430px) {
    width: inherit;
  }
  
  font-size: 20px;
  color:#555555;

  div { 
    margin-bottom: 80px;
    @media only screen and (max-width: 430px) {
      margin-bottom: 50px;
    }
  }
  hr { margin-bottom: 80px; }
  img { margin-top: 50px; }
}

/* case title */
.case-study-title {
  margin: 90px 0 60px 0;
  text-align: center;
  @media only screen and (max-width: 430px) {
      margin: 60px 0 60px 0;
  }

  p {
      margin-top: 12px;
      color: #777777;
  }
}

ul.bullet-points {
    list-style-type: disc;
    padding-left: 30px;
    li {
        margin-bottom: 6px;
  }
}

ul.bullet-points:last-child{
  margin-bottom: 0px !important;
}

li::marker {
  font-size: 22px;
}

ul.numeric-points {
  list-style-type: decimal;
  padding-left: 40px;
  li {
      margin-bottom: 6px;
  }
}

.bold-text {
  font-weight: 800;
}

figcaption {
  font-size: 14px;
  margin: -7px 0;
  text-align: center;
}

.col-2-container {
  display: flex;

  figure {
    width: 48%;
  }

  @media only screen and (max-width: 430px) {
    display: contents;
      figure {
        width: 100%;
    }
  }
}

.col-2-left {
  margin-left: auto;
}

.quote {
  p {
    margin-bottom: 20px;
    font-style: italic;
  }
  blockquote {
    margin-bottom: 50px;
    border-left: 6px solid #fc4e5f;
    padding-left: 20px;
    font-style: italic;
  }
}

svg.moving-arrow {
            width: 16px;
            margin-left: 6px;
            
            -moz-animation: bounce 2s infinite;
            -webkit-animation: bounce 2s infinite;
            animation: bounce 2s infinite;
            -webkit-animation-name: bounce;
            animation-name: bounce;
            -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
        }
          
        @keyframes bounce {
            from,
            20%,
            53%,
            80%,
            to {
              -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              -webkit-transform: translate3d(0, 3px, 0);
              transform: translate3d(0, 3px, 0);
            }
            90% {
              -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
              animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
              -webkit-transform: translate3d(0, -3px, 0);
              transform: translate3d(0, -3px, 0);
            }  
        }

.process {
  text-align: center;
  background-color: #f7f7f7;
}

.case-study-section {
  h3 {
    margin-top: 40px;
  }
  b {
    font-weight: bold;
  }
}

.outcome {
  background-color: #f3f3f3;
  color: #333;
  padding: 20px;
  border-radius: 10px;
}

.outcome-space {
  margin: 14px 0;;
}

div.product-link {
  a {
    i {
    float: left;
    font-size: 30px;
    margin-right: 11px;
    }
  }
}

ul {
  list-style: auto;
  margin-left: 40px;
  margin-top: 10px;
}